/* Base Styles */
@charset "UTF-8";

/* Root Variables */
:root {
    --chat--color-primary: #81C146;
    --chat--color-primary-shade-50: #75B03F;
    --chat--color-primary-shade-100: #699D38;
    --chat--color-secondary: #1F6DB1;
    --chat--color-secondary-shade-50: #1B61A0;
    --chat--color-white: #ffffff;
    --chat--color-light: #f2f4f8;
    --chat--color-light-shade-50: #e6e9f1;
    --chat--color-light-shade-100: #c2c5cc;
    --chat--color-medium: #d2d4d9;
    --chat--color-dark: #101330;
    --chat--color-disabled: #777980;
    --chat--color-typing: #404040;
    --chat--spacing: 1rem;
    --chat--border-radius: 12px;
    --chat--transition-duration: .15s;
    --chat--window--width: 400px;
    --chat--window--height: 600px;
    --chat--textarea--height: 50px;
    --chat--textarea--padding-right: 3rem;
    --chat--message--border-radius: 12px;
    --chat--message--box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    --chat--header-border-color: #d3d3d3;
}

/* Chat Header */
.chat-layout .chat-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    height: var(--chat--header-height, auto);
    padding: var(--chat--header--padding, var(--chat--spacing));
    background: var(--chat--header--background, var(--chat--color-dark));
    color: var(--chat--header--color, var(--chat--color-light));
    border-bottom: 2px solid var(--chat--header-border-color);
}

/* Chat Body */
.chat-layout .chat-body {
    background: var(--chat--body--background, var(--chat--color-light));
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    min-height: 100px;
    padding: var(--chat--spacing);
}

/* Chat Message Bubbles */
.chat-message {
    display: block;
    position: relative;
    max-width: 80%;
    font-size: 1rem;
    padding: var(--chat--spacing);
    border-radius: var(--chat--message--border-radius);
    margin-bottom: var(--chat--spacing);
    box-shadow: var(--chat--message--box-shadow);
}

.chat-message.chat-message-from-user {
    background-color: var(--chat--message--user--background, var(--chat--color-secondary));
    color: var(--chat--message--user--color, var(--chat--color-white));
    margin-left: auto;
}

.chat-message.chat-message-from-bot {
    background-color: var(--chat--message--bot--background, var(--chat--color-white));
    color: var(--chat--message--bot--color, var(--chat--color-dark));
    margin-right: auto;
}

/* Chat Input Box */
.chat-inputs {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.chat-inputs textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    border: 1px solid var(--chat--color-light-shade-100);
    border-radius: var(--chat--border-radius);
    padding: 0.8rem;
    padding-right: 3rem;
    min-height: var(--chat--textarea--height);
    background: var(--chat--input--background, white);
    resize: none;
    color: initial;
    outline: none;
}

/* Send Button */
.chat-input-send-button {
    height: var(--chat--textarea--height);
    width: var(--chat--textarea--height);
    background: var(--chat--input--send--button--background, white);
    cursor: pointer;
    color: var(--chat--input--send--button--color, var(--chat--color-secondary));
    border: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--chat--transition-duration) ease;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* New Conversation Button */
.chat-get-started-footer {
    display: flex;
    justify-content: center;
    padding: var(--chat--spacing);
}

/* Footer */
.chat-layout .chat-footer {
    border-top: 1px solid var(--chat--color-light-shade-100);
    background: var(--chat--footer--background, var(--chat--color-light));
    color: var(--chat--footer--color, var(--chat--color-dark));
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    .chat-input-send-button {
        right: 5px;
    }
}
